[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/epmatsw/ag.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-numbertoggle"]
	path = .vim/bundle/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-hybrid"]
	path = .vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "/Users/soulofpeace/.vim/bundle/noctu"]
	path = /Users/soulofpeace/.vim/bundle/noctu
	url = git://github.com/noahfrederick/vim-noctu.git
[submodule "/Users/soulofpeace/.vim/bundle/unite"]
	path = /Users/soulofpeace/.vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "/Users/soulofpeace/.vim/bundle/vim-distinguished"]
	path = /Users/soulofpeace/.vim/bundle/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/mustache-handlebars"]
	path = .vim/bundle/mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/tomorrow-theme"]
	path = .vim/bundle/tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule ".vim/bundle/pig.vim"]
	path = .vim/bundle/pig.vim
	url = https://github.com/motus/pig.vim.git
[submodule ".vim/bundle/rainbow_parenthesis"]
	path = .vim/bundle/rainbow_parenthesis
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/vim-log-syntax"]
	path = .vim/bundle/vim-log-syntax
	url = https://github.com/dzeban/vim-log-syntax.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/seoul256.vim"]
	path = .vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/vim-hemisu"]
	path = .vim/bundle/vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/spink"]
	path = .vim/bundle/spink
	url = https://github.com/Junza/Spink.git
[submodule ".vim/bundle/gotham"]
	path = .vim/bundle/gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
